.create-new {
    &.create-new-header {
        display: flex;
        justify-content: center;
    }

    &.create-new-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        text-align: center;

        &.create-new-content__button {
            width: 200px;
            height: 50px;
        }
    }
}