.helper {
    &.helper-header {
        &.helper-header__wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }

        &.helper-header_button {
            align-self: flex-end;
            margin-top: 10px;
            margin-right: 10px;
        }

        &.helper-header__tab-wrapper {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }

    &.helper-footer {
        &.helper-footer__wrapper {
            display: flex;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding-top: 10px;
        }

        &.helper-footer__button-back {
            width: 6rem;
        }

        &.helper-footer__button-submit {
            width: 6rem;
            margin-left: 2rem;
        }

        &.helper-footer__button-next {
            width: 6rem;
            margin-left: 2rem;
        }
    }
    &.helper-form {
        &.helper-form__wrapper {
            height: 60rem;
            overflow: scroll;
        }
    }

    &.helper-basic {
        &.helper-basic__textfield {
            width: 22rem;
            margin-bottom: 10px;

            &.handle {
                margin-left: 10px;
            }

            &.visorCode-explanation {
                margin-left: 10px;
            }

            &.justification {
                margin-left: 10px;
            }
        }

        &.helper-basic__wrapper {
            height: 100%;
            padding: 10px;
            padding-top: 20px;
        }

        &.helper-basic__date {
            width: 22rem;
            margin-left: 10px;
        }

        &.helper-basic__followup-wrapper {
            display: inline-flex;
            flex-direction: column;
            width: 22rem;
            height: 3rem;

            label {
                display: flex;
                height: 1.5rem;
                flex-direction: row-reverse;
                margin: 2px 0;
            }
        }

        &.helper-basic__select {
            width: 22rem;
            margin-bottom: 10px;
        }

        &.helper-basic__autocomplete {
            width: calc(44rem + 10px);
        }
    }

    &.helper-loc {
        &.helper-loc__wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            padding: 10px;
            padding-top: 20px;
        }

        &.helper-loc__textfield {
            width: 22rem;
            margin-bottom: 10px;

            &.right {
                margin-left: 10px;
            }
        }

        &.helper-loc__heading {
            margin-bottom: 10px;
        }

        &.helper-loc__basic-wrapper {
            margin-bottom: 10px;
        }
    }

    &.helper-nav {
        &.helper-nav__wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            padding: 10px;
            padding-top: 20px;
        }

        &.helper-nav__om-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        &.helper-nav__oms-left {
            display: flex;
            flex-direction: column;
            width: 22rem;
        }

        &.helper-nav__oms-right {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            width: 22rem;
        }

        &.helper-nav__om-header {
            width: 100%;
        }

        &.helper-nav__om-select {
            width: 6rem;
            margin-right: 10px;
        }
        &.helper-nav__straight {
            width: calc(44rem + 10px);
            margin-top: 10px;
        }

        &.helper-nav__station {
            margin-top: 10px;
        }

        &.helper-nav__textfield {
            width: 22rem;

            &.pointA {
                margin-bottom: 10px;
            }

            &.pointB {
                margin-left: 10px;
                margin-bottom: 10px;
            }

            &.drive {
                margin-left: 10px;
            }
        }

        &.helper-nav__distance {
            width: 11rem;
            margin-left: 10px;
        }

        &.helper-nav__fuel-distance {
            width: 11rem;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        &.helper-nav__bearing {
            width: 11rem;
            margin-left: 10px;
        }

        &.helper-nav__consumption {
            width: 11rem;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        &.helper-nav__fuel-wrapper {
            margin-top: 20px;
        }

        &.helper-nav__station {
            margin-top: 20px;
        }

        &.helper-nav__ground {
            margin-top: 20px;
        }

        &.helper-nav__fuel-view {
            margin-top: 10px;
        }

        &.helper-nav__add {
            width: 6rem;
        }

        &.helper-nav__add-wrapper {
            display: inline-flex;
            height: 5rem;
            width: 22rem;
            margin-left: 10px;
            justify-content: center;
            align-items: center;
        }
    }

    &.helper-virs {
        &.helper-virs__wrapper {
            height: 100%;
            margin-top: 10px;
            padding: 10px;
        }

        &.helper-virs__heading {
            font-size: 2rem;
            width: 100%;
        }

        &.helper-virs__temp-wrapper {
            margin-top: 10px;
        }

        &.helper-virs__atmo-wrapper {
            margin-top: 20px;
        }

        &.helper-virs__basic-wrapper {
            margin-top: 20px;
        }

        &.helper-virs__pads-wrapper {
            margin-top: 20px;
        }

        &.helper-virs__consoles-wrapper {
            margin-top: 20px;
        }

        &.helper-virs__atmo-textfield {
            width: 100%;
        }

        &.helper-virs__atmo-input {
            width: 20rem;
            margin-bottom: 10px;
        }

        &.helper-virs__atmo-checkbox {
            display: inline-flex;
            height: 4.3rem;
            flex-direction: row-reverse;
            align-items: center;
            margin-left: 10px;
        }

        &.helper-virs__basic-input {
            width: calc(100% / 3 - 20px);
            margin-right: 10px;
            margin-top: 10px;
        }

        &.helper-virs__pads-input {
            width: 14rem;
            margin-right: 10px;
            margin-top: 10px;
        }

        &.helper-virs__consoles-checkbox {
            display: inline-flex;
            width: calc(100% / 4 - 20px);
            height: 6rem;
            margin-top: 10px;
            margin-left: 0px;
            margin-right: 10px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px solid $color-divider;

            &.fixed {
                width: 10.3rem;
                height: 6rem;
            }
        }

        &.helper-virs__consoles-helper {
            display: inline-flex;
            width: calc(100% - 24px);
            justify-content: center;
        }
    }

    &.helper-image {
        &.helper-image__upload-wrapper {
            display: flex;
            flex-direction: column;
        }

        &.helper-image__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &.helper-image__selected-wrapper {
            width: calc(100% - 20px);
            height: 18rem;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            overflow: scroll;
            background-color: #999;
            border-radius: 15px;
        }

        &.helper-image__selected-item {
            width: 13rem;
            height: 5rem;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            border: 2px solid $color-divider;
            margin-left: 10px;
            margin-bottom: 10px;

            &.empty {
                display: block;
                height: 4rem;
                border: 0;
            }

            p {
                height: 5rem;
                width: 10rem;
                text-align: center;
                margin: 0;
                margin-left: 5px;
                overflow: hidden;
                line-height: 4.8rem;
            }
        }

        &.helper-image__upload-button {
            display: flex;
            width: 13rem;
            height: 3rem;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }

        &.helper-image__selected-button {
            height: 2.5rem;
            width: 2.5rem;
            
            svg {
                height: 100%;
                width: 100%;
            }
        }

        &.helper-image__submit-button {
            width: 10rem;
            align-self: flex-end;
            margin-top: 10px;
            margin-right: 10px;
        }

        &.helper-image__list-wrapper {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &.helper-image__image {
            height: 9rem;
            width: 16rem;
        }

        &.helper-image__image-button {
            display: inline-flex;
            height: 10rem;
            width: 17.77777rem;
            border: 2px solid $color-divider;
            padding: 5px;
            border-radius: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }
}

#adornment-update {
    p {
        color: $color-text-primary;
    }
}

#adornment-view {
    p {
        color: #aaa;
    }
}