.list-local {
    &.list-local-header {
        display: flex;
        justify-content: center;
    }

    &.list-local-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        text-align: center;

        &.list-local-content__button {
            width: 200px;
            height: 50px;
        }
    }
}