@import 'variables.module';
@import 'slider';
@import 'login';
@import 'home';
@import 'not-found';
@import 'functions/create-new';
@import 'functions/list-all';
@import 'functions/list-local';
@import 'functions/search';

.content-wrapper-left {
    background-color: $color-background;
    border-radius: 15px;
    color: $color-text-primary;
    height: 50rem;
}

.content-wrapper-right {
    background-color: $color-background;
    border-radius: 15px;
    color: $color-text-primary;
    height: 70rem;
}