.slider {
    &.slider-wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    &.slider-container {
        display: flex;
        width: 100%;
    }

    &.slider-image {
        width: 100px;
        height: 100px;
    }

    &.slider-left-slide {
        width: 20%;
        height: 50%;
    }

    &.slider-right-slide {
        margin-left: auto;
        width: 30%;
        height: 70%;
    }
}